[submodule "FeelIt"]
	path = FeelIt
	url = https://github.com/khusika/FeelIt.git
[submodule "themes/feelIt"]
	path = themes/feelIt
	url = https://github.com/khusika/FeelIt.git
[submodule "themes/themes/FeelIt"]
	path = themes/themes/FeelIt
	url = https://github.com/khusika/FeelIt.git
