---
import Section from "../Section.astro";

import { basics } from "@cv";
import Contact from "@/components/sections/Contact.astro";
const { summary } = basics;
---

<Section title="About">
	<p>
		{summary}
	</p>
  <Contact/>
</Section>
